
<% if (locals.message) { %>
    <p><%= message %></p>
<% } else { %>
    <p>Origins: 
        <ul>
            <% for (var i = 0; i < origins.length; i++) { %>
                <li><%= origins[i] %></li>
            <% } %>
        </ul>
    </p>
    <p>Destinations: 
        <ul>
            <% for (var i = 0; i < destinations.length; i++) { %>
                <li><%= destinations[i] %></li>
            <% } %>
        </ul>
    </p>
    <p>Distance: <%= distance %></p>
    <p>Duration in current traffic: <%= durationInTraffic %> </p>
    
<% } %>
